{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Personal portfolio</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio - v2.3.0
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body id="page-top">

  <!-- ======= Header/ Navbar ======= -->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top" style="font-family: 'Agency FB';font-size: 45px">RajeshSite</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ======= Intro Section ======= -->
  <div id="home" class="intro bg-image" style="background-image: url({% static 'assets/img/IMG_20180401_180810.jpg' %});">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
          <br>  <br>          <br>
          <br>

        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am Rajesh Bhagure</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Fresher Software Developer,Web Developer,Frontend Developer</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div><!-- End Intro Section -->

<!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{% static 'assets/img/IMG_20191116_141146.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                          {% for x in personal %}
                        <p><span class="title-s">Name: </span> <span>{{ x.name }}</span></p>
                        <p><span class="title-s">Profile: </span> <span>{{ x.profile }}</span></p>
                        <p><span class="title-s">Email: </span> <span>{{ x.email }}</span></p>
                        <p><span class="title-s">Phone: </span> <span>{{ x.contact_number }}</span></p>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                      {% for x in skill %}
                    <span>{{ x.skill_name }}</span> <span class="pull-right">{{ x.percentage }}%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: {{ x.percentage }}%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p class="lead">




I have done private training in "Python Programming". Proven ability to leverage full-stack expertise to build interactive and user-centered website designs to scale. Extensive expertise in large system architecture development and administration, as well as web design and configuration.
 </p>
                    <p class="lead">
                     I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques are important to me and the success of all organization.

                    </p>
                    <p class="lead">
                     I can enhance my knowledge and skills to give my best for the growth of the company.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Can do
              </h3>
              <p class="subtitle-a">Following some services i can do,as i am fresher in IT Industry but have confident on my knowledge and Work. </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box" style="height: 400px">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Designing</h2>
                <p class="s-description text-center">
                 The web page can have graphics, music, animations, and many other things on it. Some web design is done for businesses, and some is done for individual people. Some web designs are used a lot and have standard templates that are free for people to use.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box" style="height: 400px">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">GUI Applications Developement</h2>
                <p class="s-description text-center">
A graphical user interface builder also known as GUI designer, is a software development tool that simplifies the creation of GUIs by allowing the designer to arrange graphical control elements using a drag-and-drop system editor.
We use python library TKinter for this applications.

                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box" style="height: 400px">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Responsive Web Pages</h2>
                <p class="s-description text-center">
                  Responsive web design is about creating web pages that look good on all devices!
A responsive web design will automatically adjust for different screen sizes and viewports.for this we are using bootstrap with javascript.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Counter Section ======= -->
    <div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-lg-4">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">4</p>
                <span class="counter-text">COMPLETED PROJECTS</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">6</p>
                <span class="counter-text">MONTHS INTERNSHIP EXEPERIENCE</span>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-4">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-people"></i></span>
              </div>
              <div class="counter-num">
                <p class="counter">100</p>
                <span class="counter-text">PEOPLES SUPPORTS.</span>
              </div>
            </div>
          </div>
                  </div>
      </div>
    </div><!-- End Counter Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
Following some portfolio Completed by me.</p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
            {% for x in portfolio %}
          <div class="col-md-4">
            <div class="work-box">
              <a href="{{ x.image.url }}" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="{{ x.image.url }}" alt="" class="img-fluid" style="height: 220px;width: 100%"  >
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{ x.name }}</h2>
                    <div class="w-more">
                      <span class="w-ctegory">{{ x.technology }}</span> / <span class="w-date">{{ x.date }}</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endfor %}
        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
{#    <div class="testimonials paralax-mf bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">#}
{#      <div class="overlay-mf"></div>#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-md-12">#}
{#            <div id="testimonial-mf" class="owl-carousel owl-theme">#}
{#              <div class="testimonial-box">#}
{#                <div class="author-test">#}
{#                  <img src="{% static 'assets/img/testimonial-2.jpg' %}" alt="" class="rounded-circle b-shadow-a">#}
{#                  <span class="author">Xavi Alonso</span>#}
{#                </div>#}
{#                <div class="content-test">#}
{#                  <p class="description lead">#}
{#                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,#}
{#                    consectetur adipiscing elit.#}
{#                  </p>#}
{#                  <span class="comit"><i class="fa fa-quote-right"></i></span>#}
{#                </div>#}
{#              </div>#}
{#              <div class="testimonial-box">#}
{#                <div class="author-test">#}
{#                  <img src="{% static 'assets/img/testimonial-4.jpg' %}" alt="" class="rounded-circle b-shadow-a">#}
{#                  <span class="author">Marta Socrate</span>#}
{#                </div>#}
{#                <div class="content-test">#}
{#                  <p class="description lead">#}
{#                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,#}
{#                    consectetur adipiscing elit.#}
{#                  </p>#}
{#                  <span class="comit"><i class="fa fa-quote-right"></i></span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div><!-- End Testimonials Section -->#}

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              <p class="subtitle-a">
                  Sharing some memories and hobbies(blogs).
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
            {% for x in blog %}
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="{{ x.image.url }}" alt="" class="img-fluid" style="object-fit: contain;"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category">{{ x.name }}</h6>
                  </div>
                </div>
                <h3 class="card-title"><a href="blog-single.html">{{ x.short_title }}</a></h3>
                <p class="card-description">
                 {{ x.description }}
                </p>
              </div>

            </div>
          </div>
         {% endfor %}


        </div>
      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Contact Section ======= -->

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Message Us
                      </h5>
                    </div>
                    <div>
                      <form action="{% url 'send_mail' %}" method="post">
                          {% csrf_token %}
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email"  placeholder="Your Email" required>
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject"  placeholder="Subject" required>
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" required placeholder="Message"></textarea>
                              <div class="validate"></div>
                            </div>
                          </div>
                            {% for x in messages %}
                          <div class="col-md-12 text-center mb-3">
                            <div class="error-message"></div>
                            <div class="alert alert-success">Your message has been sent. Thank you!</div>
                          </div>
                            {% endfor %}
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        "I  know how much your value your Support and help. I will promise to do work carefully and for best benifit for Your Organizations. Please give opportunity if you have interest on my profile.
Thanks for your support if you have things will i can do so please give me that chance please."

                      </p>
                      <ul class="list-ico">
                        <li><span class="ion-ios-location"></span> AT.MOSA TA.MANTHA DIST.JALNA MAHARASHTRA,INDIA</li>
                        <li><span class="ion-ios-telephone"></span> (+91)9975292647 / 7030506598</li>
                        <li><span class="ion-email"></span> rajeshbhagure99@gmail.com</li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="https://api.whatsapp.com/send?phone=+91 9975292647"><span class="ico-circle"><i class="ion-social-whatsapp"></i></span></a></li>
                        <li><a href="https://www.facebook.com/rajesh.bhagure.1"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                        <li><a href="https://www.linkedin.com/in/rajesh-bhagure-4588811b0"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright<strong> RajeshSite</strong>. All Rights Reserved</p>
            <div class="credits">
              Designed by <a href="{% url 'index' %}">Rajesh Bhagure</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>